.error-block {
  padding: 12px;
  background: rgba(240, 76, 76, 0.349);
  //   border: 2px solid red;
  border-radius: 6px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.164);

  h3 {
    color: red;
  }
}
