@import "../../../../variables";

.card {
  width: 300px;
  margin: 20px;
  box-shadow: 0 2px 8px rgb(235, 235, 235);
  border-radius: 6px;
  overflow: hidden;
  background: $white;
  min-height: 360px;

  display: flex;
  flex-direction: column;

  cursor: pointer;

  transition: transform 100ms ease-in-out;

  &:hover {
    transform: translateY(-8px);
  }

  .img {
    height: 170px;
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  .card__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 8px 12px;

    h3 {
      margin: 0 0 10px 0;
    }

    p {
      margin: 2px 0;

      span {
        color: $dark-gray;
      }
    }
  }
}
