<div class="actions">
  <div class="search" [style.backgroundColor]="">
    <img src="../assets/icons/search-solid.svg" alt="Search" class="icon" />
    <input
      type="text"
      placeholder="Search for a country..."
      [(ngModel)]="searchText"
    />
  </div>
  <div class="dropdown">
    <div class="dropdown__placeholder" (click)="toggleDropDown()">
      <p>{{ selectedRegion === "" ? "Filter by Region" : selectedRegion }}</p>
      <img
        src="../../assets/icons/chevron-down-solid.svg"
        alt=""
        class="icon"
      />
    </div>
    <div *ngIf="dropDown" class="dropdown__options">
      <a *ngFor="let option of filterOptions" (click)="onFilter(option)">
        {{ option }}
      </a>
    </div>
  </div>
</div>

<app-countries
  [searchText]="searchText"
  [selectedRegion]="selectedRegion"
></app-countries>
