@import "../variables";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 4vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.103);
  background: $white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  transition: background 200ms ease-out;

  .logo {
    cursor: pointer;
    @media (max-width: 500px) {
      font-size: 1.2rem;
    }
  }

  a {
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;

    .icon {
      width: 1.2rem;
      margin-right: 8px;
    }
  }
}

.container {
  padding-top: 7rem;
  min-height: 100%;
}
