@import "../../../../variables";

.actions {
  @media (max-width: 1200px) {
    height: 40px;
    margin-bottom: 20px;
  }
  a {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 12px 24px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.103);
    cursor: pointer;
    z-index: 2;
    position: absolute;
    left: 5vw;
    text-decoration: none;
    color: black;
    background: $white;
    transition: box-shadow 100ms linear;

    &:hover,
    &:focus {
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.103);
    }
    .icon {
      width: 1.2rem;
      margin-right: 16px;
    }
  }
}

.country-details {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 5vw;
    height: auto;
  }

  .img {
    background-size: cover;
    background-position: center;
    width: 630px;
    height: 420px;
    background-repeat: no-repeat;

    @media (max-width: 1200px) {
      max-width: 800px;
    }

    @media (max-width: 610px) {
      background-size: contain;
      width: 100%;
      height: 80vw;
    }
  }

  .stats {
    padding: 0 50px;
    max-width: 620px;

    @media (max-width: 1200px) {
      margin-top: 30px;
      padding: 0;
    }

    h1 {
      margin-bottom: 24px;
    }

    p {
      font-weight: 700;
      line-height: 2.2rem;
      span {
        font-weight: 300;
      }
    }
  }

  .border-countries {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 48px;

    .border-country {
      font-weight: 500;
      padding: 8px;
      border-radius: 4px;
      box-shadow: 0 0px 6px rgba(0, 0, 0, 0.164);
      margin: 4px 6px 10px 4px;
      cursor: pointer;
      flex-grow: 1;
      background: $white;
    }
  }
}

.two-columns {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: flex-start;
    .block-2 {
      margin-top: 30px;
    }
  }
}
app-spinner {
  position: absolute;
  transform: translateX(46vw) translateY(25vh);
}

app-error {
  text-align: center;
}
