<!-- <div class="actions">
  <a> <fa-icon [icon]="faArrowAltCircleLeft"></fa-icon> Back</a>
</div> -->
<div class="country-details">
  <img [src]="country.flag" [alt]="country.name" />
  <div class="stats">
    <div>
      <h1>{{ country.name }}</h1>
      <p>
        Native Name: <span>{{ country.nativeName }}</span>
      </p>
      <p>
        Population: <span>{{ country.population }}</span>
      </p>
      <p>
        Region: <span>{{ country.region }}</span>
      </p>
      <p>
        Sub Region: <span>{{ country.subregion }}</span>
      </p>
      <p>
        Capital: <span>{{ country.capital }}</span>
      </p>
      <p>
        Top Level Domain:
        <span *ngFor="let domain of country.topLevelDomain">
          {{ domain }}
        </span>
      </p>
      <p>
        Currency:
        <span *ngFor="let currency of country.currencies; let isLast = last"
          >{{ currency.name }}{{ isLast ? " " : ", " }}</span
        >
      </p>
      <p>
        Languages:
        <span *ngFor="let language of country.languages; let isLast = last">
          {{ language.name }}{{ isLast ? " " : ", " }}
        </span>
      </p>
    </div>
    <div class="border-countries">
      <p>Border Countries: </p>
      <p class="border-country" *ngFor="let country of borderCountries">
        {{ country }}
      </p>
      <p *ngIf="borderCountries.length < 1">None</p>
    </div>
  </div>
</div>
