<div class="actions">
  <a
    routerLink="/"
    [style.backgroundColor]="colors.elements"
    [style.color]="colors.text"
  >
    <img
      [src]="
        !isDark
          ? '../../../../assets/icons/arrow-left-solid.svg'
          : '../../../../assets/icons/arrow-left-solid-white.svg'
      "
      alt="arrow"
      class="icon"
    />
    Back</a
  >
</div>
<app-spinner *ngIf="isLoading && !error"></app-spinner>
<app-error *ngIf="error"></app-error>
<div class="country-details" *ngIf="!isLoading" [style.color]="colors.text">
  <div class="img" [style.background-image]="'url(' + country.flag + ')'"></div>
  <div class="stats">
    <h1>{{ country.name }}</h1>
    <div class="two-columns">
      <div class="block-1">
        <p>
          Native Name: <span>{{ country.nativeName }}</span>
        </p>
        <p>
          Population: <span>{{ country.population }}</span>
        </p>
        <p>
          Region: <span>{{ country.region }}</span>
        </p>
        <p>
          Sub Region: <span>{{ country.subregion }}</span>
        </p>
        <p>
          Capital: <span>{{ country.capital }}</span>
          <span *ngIf="!country.capital">N/A</span>
        </p>
      </div>
      <div class="block-2">
        <p>
          Top Level Domain:
          <span *ngFor="let domain of country.topLevelDomain">
            {{ domain }}
          </span>
        </p>
        <p>
          Currency:
          <span *ngFor="let currency of country.currencies; let isLast = last"
            >{{ currency.name }}{{ isLast ? " " : ", " }}</span
          >
        </p>
        <p>
          Languages:
          <span *ngFor="let language of country.languages; let isLast = last">
            {{ language.name }}{{ isLast ? "" : ", " }}
          </span>
        </p>
      </div>
    </div>
    <div class="border-countries">
      <p>Border Countries:</p>
      <p
        class="border-country"
        *ngFor="let country of borderCountries"
        (click)="onNavigate(country)"
        [style.backgroundColor]="colors.elements"
      >
        {{ country }}
      </p>
      <p *ngIf="borderCountries.length < 1">None</p>
    </div>
  </div>
</div>
