@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,800;1,300&display=swap");

$dark-blue: hsl(209, 23%, 22%); //Dark Mode Elements
$very-dark-blue: hsl(207, 26%, 17%); //Dark Mode Background
$very-dark-blue-light: hsl(200, 15%, 8%); //Light Mode Text
$dark-gray: hsl(0, 0%, 52%); //Light Mode Input
$very-light-gray: hsl(0, 0%, 98%); //Light Mode Background
$white: hsl(0, 0%, 100%); //Dark Mode Text & Light Mode Elements
