/* You can add global styles to this file, and also import other style files */
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}

body {
  background: $very-light-gray;
  min-height: 100vh;
  transition: background 200ms ease-out;
}

app-country {
  font-size: 16px;
}
